.menu-item .menu-title{
    height: 30px;
    background-color: cornflowerblue;
}
.menu-item .menu-content{
    margin-left: 20px;
}
.menu-item .menu-content a{
    display: block;
}
.menu-item .menu-content a.active{
    color: red;
}
.hide{
    display: none;
}